{% extends "base.html" %}

{% block title %}Member{% endblock %}

{% block content %}
<h1 class="text-center text-info mt-3">Configuration Table</h1>
<div class="container-fluid">
    <a class="btn btn-primary btn-sm" href="{{url_for('createPost')}}">Create<i class="fa fa-plus ml-2"></i></a>
        <table class="table table-bordered text-white mt-2">
                <thead>
                  <tr class="bg-success">
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Image</th>
                    <th scope="col">Content</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                            <td>{{post.id}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.author}}</td>
                            <td><img src="{{url_for('static',filename='imgs/'+post.image)}}" width="200px";height="100px"></td>
                            <td>{{post.content[0:40]}}</td>
                            <td>
                                <a class = "btn btn-sm  btn-outline-warning" href="{{url_for('editPost',id=post.id)}}">Edit</a>
                                <a class = "btn btn-sm btn-outline-danger" href="{{url_for('deletePost',id=post.id)}}">Delete</a>
                            </td>
                          </tr>
                    {% endfor %}
                </tbody>
              </table>
</div>
{% endblock %}